<p id="notice"><%= notice %></p>

<strong>Purchased:</strong>
<div data-id="<%= @game.id %>" id="game_id"></div>
<button id="purchase-button" type="button" class="btn btn-primary glyphicon glyphicon-tag">
</button>
<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @game.image_url %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
